node_modules
jspm_packages
dist
.vscode
*.js
!Gruntfile.js
!error_helper.js
!game_of_live.js
!karma.conf.js
!webpack.config.js
!karma.conf.js
!protractor.conf.js 
!aurelia_protractor.js 
!webpack.config_tests.js
!full_stack_example/**/*