<html>
    <body>
        <script type="text/template" id="itemViewTemplate">
                <button class="btn btn-primary"><%= DisplayName %></button>
        </script>
        <script type="text/template" id="itemCollectionViewTemplate">
                <h1> <%= Title %></h1>
                <ul id="ulRegions"> </ul>
                <div> Selected element:
                    <%=SelectedItem.id %>
                    <%=SelectedItem.DisplayName%>
                </div> 
        </script>
        <script src="controller.js">
            window.onload = function() {
                var app = new ScreenViewApp()
                app.start()
            }
        </script>
        <div id="pageLayoutRegion"></div>
        
    </body>
</html>